.loader {
  position: fixed;
  top: 0;
  bottom: initial;
  right: 0;
  left: 0;
  transform: initial;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: initial;
  z-index: 99999;
}
.loader .loader-circle {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: #FFF;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  animation: pulse 1.5s ease-in-out infinite;
}
.loader .loader-circle:before {
  content: "";
  display: block;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 8px solid #D5B978;
  border-color: #D5B978 transparent #D5B978 transparent;
  animation: loader 1.2s linear infinite;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes pulse {
  0% {
    transform: scale(0.8);
    opacity: 0.5;
  }
  50% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0.8);
    opacity: 0.5;
  }
}
.header {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 999;
}
.header.borOther {
  border-bottom: 1px solid #585858;
}
.header.header-fixed {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  background-color: #3a3a3a;
  animation: slideDown 0.7s;
}
.header.not-fix {
  position: relative !important;
}
@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
.header .links li a::after {
  content: "";
  position: absolute;
  top: initial;
  bottom: -10px;
  right: 0;
  left: 0;
  transform: initial;
  margin: auto;
  transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  background-color: #FFF;
  width: 0%;
  height: 1px;
}
.header .links li a:hover {
  color: #D5B978 !important;
}
.header .links li a:hover::after {
  width: 70%;
}
.header .links li.active a {
  color: #D5B978 !important;
  font-weight: bold;
}
.header .links li.active a::after {
  width: 70%;
}

@media (max-width: 1200px) {
  .click-nav {
    display: flex !important;
  }
  .click-nav .closed:nth-of-type(2) {
    margin: -6px;
  }
  .header .logo img {
    max-width: 100px;
  }
  .header .in-head-mobile {
    width: 100%;
  }
  .header .nav-header {
    position: fixed;
    top: 0;
    bottom: initial;
    right: initial;
    left: initial;
    transform: initial;
    margin: auto;
    transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background-color: #272727;
    z-index: 999;
    width: 250px;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    will-change: scroll-position;
    contain: size style layout;
    flex-direction: column;
    align-items: initial !important;
    justify-content: space-between !important;
    padding: 0;
  }
  .header .nav-header .links {
    flex-direction: column;
    align-items: initial !important;
    justify-content: initial !important;
  }
  .header .nav-header .links li {
    display: block;
    margin: 20px 0;
  }
  .header .nav-header .links li a::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: initial;
    right: initial;
    left: initial;
    transform: initial;
    margin: auto;
    transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    background-color: #FFF;
    width: 3px;
    height: 0%;
  }
  .header .nav-header .links li a:hover {
    color: #D5B978 !important;
  }
  .header .nav-header .links li a:hover::after {
    height: 100%;
  }
  .header .nav-header .links li.active a {
    color: #D5B978 !important;
    font-weight: bold;
  }
  .header .nav-header .links li.active a::after {
    height: 100%;
  }
  .header .nav-header .last-control {
    margin-top: 30px;
    justify-content: center;
  }
}
footer {
  background-image: url("../../images/p3.png");
  background-repeat: no-repeat;
  background-size: cover;
}
footer .logo-footer img {
  max-width: 150px;
}
footer .form-email form .input-val {
  opacity: 40%;
}
footer .form-email form .input-val input {
  width: 350px;
  background-color: rgba(255, 255, 255, 0.2);
}
footer .links-footer ul li a {
  opacity: 40%;
}
footer .links-footer ul li a:hover {
  opacity: 100%;
}
footer .end-footer {
  border-top: 1px solid #2b2b2b;
}
footer .end-footer .container .link-social ul li a {
  width: 45px;
  height: 45px;
}
footer .end-footer .container .link-social ul li a:hover i {
  transform: scale(1.5) rotate(360deg);
}
footer .end-footer .container .link-social ul li.facebook:hover a {
  background-color: #1877F2;
}
footer .end-footer .container .link-social ul li.twitter:hover a {
  background-color: #1DA1F2;
}
footer .end-footer .container .link-social ul li.instgram:hover a {
  background-color: #E4405F;
}
footer .end-footer .container .link-social ul li.linkedin:hover a {
  background-color: #0A66C2;
}
footer .end-footer .container .link-social ul li.whatsapp:hover a {
  background-color: #25D366;
}

@media (max-width: 1200px) {
  footer {
    background-image: url("../../images/p3.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  footer .logo-footer img {
    max-width: 150px;
  }
  footer .form-email form .input-val {
    opacity: 40%;
  }
  footer .form-email form .input-val input {
    width: 350px;
    background-color: rgba(255, 255, 255, 0.2);
  }
  footer .links-footer ul li a {
    opacity: 40%;
  }
  footer .links-footer ul li a:hover {
    opacity: 100%;
  }
  footer .end-footer {
    border-top: 1px solid #2b2b2b;
    padding: 0 !important;
  }
  footer .end-footer .py-5 {
    padding: 30px 0 !important;
  }
  footer .end-footer p {
    margin: 0 !important;
  }
}
@font-face {
  font-family: "JALI";
  src: url("/fonts/regular.ttf");
}
@font-face {
  font-family: "JALI";
  src: url("/fonts/semiBold.ttf");
  font-weight: bold;
}
* {
  border: 0;
  margin: 0;
  padding: 0;
  outline: none !important;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden !important;
  font-family: "JALI", sans-serif !important;
  background: linear-gradient(150deg, #3a3a3a 0%, #0f0f10 100%);
}

a, button, input, textarea, i {
  transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
}

a {
  text-decoration: none !important;
  display: inline-block;
  cursor: pointer;
}

i {
  vertical-align: middle;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 10px 0;
}

h1, h2, h3, h4, h5, h6, p, a, button, input, textarea {
  letter-spacing: 1px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

input {
  border: 1px solid #D5B978;
  color: #FFF;
  background-color: transparent;
  padding: 0 20px;
  height: 55px;
  border-radius: 5px;
}

textarea {
  border: 1px solid #D5B978;
  color: #FFF;
  padding: 13px 20px;
  border-radius: 5px;
  min-height: 250px;
  resize: none;
  background-color: transparent;
}

::-webkit-input-placeholder {
  color: #FFF;
  opacity: 1;
}

::-moz-placeholder {
  color: #FFF;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #FFF;
  opacity: 1;
}

:-moz-placeholder {
  color: #FFF;
  opacity: 1;
}

.input-icon {
  padding: 0px 40px !important;
}

.fix-icon-Input {
  position: absolute;
  top: 50%;
  bottom: initial;
  right: initial;
  left: initial;
  transform: translateY(-50%);
  margin: auto;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.colorMain {
  color: #D5B978 !important;
}

.secondColor {
  color: #0f0f10 !important;
}

.oldMainColor {
  color: #786C51 !important;
}

.bgColorMain {
  background-color: #D5B978 !important;
}

.bgSecondColor {
  background-color: #0f0f10 !important;
}

.bgOpSecondColor {
  background-color: #2e2e2e !important;
}

.bgOverLay {
  background-color: rgba(0, 0, 0, 0.5) !important;
}

.bgOverLayWhite {
  background-color: rgba(255, 255, 255, 0.5) !important;
}

.borderColorMain {
  border: 1px solid #D5B978 !important;
}

.borderSecondColor {
  border: 1px solid #0f0f10 !important;
}

.borColorMain {
  border-color: #D5B978 !important;
}

.borSecondColor {
  border-color: #0f0f10 !important;
}

.borOldMainColor {
  border-color: #786C51 !important;
}

button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.btn-button {
  height: 50px;
  width: 160px;
  font-size: 14px;
  border-radius: 5px;
}
.btn-button:hover {
  transform: scale(0.9);
}

.overlay-fixed {
  position: fixed;
  top: 0;
  bottom: initial;
  right: initial;
  left: initial;
  transform: initial;
  margin: auto;
  transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  height: 100%;
  width: 100%;
  z-index: 998;
  background-color: rgba(0, 0, 0, 0.3);
}

.overlay-absolute {
  position: absolute;
  top: 0;
  bottom: initial;
  right: 0;
  left: initial;
  transform: initial;
  margin: auto;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

.back {
  transform: translate(0) !important;
}

.owl-carousel {
  display: block;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  position: relative;
  direction: ltr;
}

.text-overflow {
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 170px;
  overflow: hidden;
}

.main-body {
  min-height: 600px;
}

.old-shadow {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1607843137);
}

.over-x {
  overflow-x: auto;
}

.over-x-hidden {
  overflow-x: hidden;
}

.height-view-scroll {
  height: 500px;
  overflow-y: auto;
}

.outline {
  outline: none !important;
  box-shadow: none !important;
}

.visible {
  visibility: hidden;
  opacity: 0;
}

.line-height-txt {
  line-height: 35px;
}

.borderRad-13 {
  border-radius: 13px !important;
}

.small-font-10 {
  font-size: 10px;
}

.small-font-11 {
  font-size: 11px;
}

.small-font-12 {
  font-size: 12px;
}

.small-font-13 {
  font-size: 13px;
}

.btn-icon-35 {
  width: 35px;
  height: 35px;
}

.btn-icon-45 {
  width: 45px;
  height: 45px;
}

.btn-icon-65 {
  width: 65px;
  height: 65px;
}

.click-nav {
  display: none;
  align-items: center;
  flex-direction: column;
  position: relative;
  z-index: 999;
  width: 40px;
  height: 44px;
  justify-content: center;
}
.click-nav .handle {
  background: #D5B978;
  height: 1px;
  width: 100%;
  margin: 0.32em auto;
  transition: all 350ms cubic-bezier(0.28, 0.55, 0.385, 1.65);
  transition-timing-function: cubic-bezier(0.28, 0.55, 0.385, 1.65);
}
.click-nav .closed {
  transform: rotate(45deg);
  width: 40px;
  position: relative;
  top: -7px;
}
.click-nav .closed:nth-of-type(2) {
  transform: rotate(-45deg);
  margin: -0.5em 0.5em;
}
.click-nav .closed:nth-of-type(3) {
  display: none;
}

.select-in::after {
  content: "\e907";
  font-family: "icomoon";
  position: absolute;
  top: 50%;
  bottom: initial;
  right: initial;
  left: initial;
  transform: translateY(-50%);
  margin: auto;
}
.select-in .form-select {
  padding: 13px 20px;
  background-image: initial;
  border-radius: 10px;
}
.select-in .form-select:focus {
  border-color: #ced4da;
  outline: 0;
  box-shadow: 0 0 0 0 rgba(13, 110, 253, 0.25);
}

.title-sec {
  display: inline-block;
}
.title-sec::after {
  content: "";
  position: absolute;
  top: 50%;
  bottom: initial;
  right: initial;
  left: initial;
  transform: translateY(-50%);
  margin: auto;
  background-color: #D5B978;
  width: 50px;
  height: 1px;
}

.icon-title {
  background-color: #675B44;
  width: 75px;
  height: 110px;
}
.icon-title img {
  width: auto !important;
}

.bread-crumb ul li:last-child a {
  opacity: 100%;
}
.bread-crumb ul li:last-child a::after {
  display: none;
}
.bread-crumb ul li a {
  position: relative;
  color: #FFF;
  opacity: 40%;
  margin-inline-end: 40px;
}
.bread-crumb ul li a::after {
  content: "\e909";
  font-family: "icomoon";
  position: absolute;
  top: 50%;
  bottom: initial;
  right: initial;
  left: initial;
  transform: translateY(-50%);
  margin: auto;
  font-size: 12px;
}

.more-a::after {
  content: "";
  position: absolute;
  top: 50%;
  bottom: initial;
  right: initial;
  left: initial;
  transform: translateY(-50%);
  margin: auto;
  width: 50px;
  height: 100%;
  background-color: #D5B978;
}
.more-a span, .more-a i {
  z-index: 9;
}

.link-social ul li a {
  width: 45px;
  height: 45px;
}
.link-social ul li a:hover i {
  transform: scale(1.5) rotate(360deg);
}
.link-social ul li.facebook:hover a {
  background-color: #1877F2;
}
.link-social ul li.twitter:hover a {
  background-color: #1DA1F2;
}
.link-social ul li.instgram:hover a {
  background-color: #E4405F;
}
.link-social ul li.linkedin:hover a {
  background-color: #0A66C2;
}
.link-social ul li.whatsapp:hover a {
  background-color: #25D366;
}

.custom-file-upload {
  border: 1px solid #D5B978;
  color: #FFF;
  background-color: transparent;
  padding: 0 20px;
  height: 55px;
  border-radius: 5px;
}

.fix-up-btn {
  position: fixed;
  top: initial;
  bottom: 30px;
  right: initial;
  left: initial;
  transform: initial;
  margin: auto;
  z-index: 999;
}

.slider #sliderHome .item .bg-up {
  height: 1000px;
}
.slider #sliderHome .item .over-up {
  position: absolute;
  top: 0px;
  bottom: initial;
  right: 0;
  left: 0;
  transform: initial;
  margin: auto;
  background: #e5e5e5;
  background: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=$blackColor, endColorstr=$blackColor,GradientType=0);
  height: 400px;
}
.slider #sliderHome .item .over-down {
  position: absolute;
  top: initial;
  bottom: 0;
  right: 0;
  left: 0;
  transform: initial;
  margin: auto;
  background: #e5e5e5;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.9) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=$blackColor, endColorstr=$blackColor,GradientType=0);
  height: 400px;
}
.slider #sliderHome .item .overlay-fix {
  position: absolute;
  top: 0;
  bottom: initial;
  right: 0;
  left: initial;
  transform: initial;
  margin: auto;
}
.slider #sliderHome .item .overlay-fix .over-info h1 {
  line-height: 60px;
}
.slider #sliderHome .item .overlay-fix .over-info p {
  color: #747474;
}
.slider #sliderHome .owl-dots {
  display: none;
}
.slider #sliderHome .owl-nav {
  position: absolute;
  top: 50%;
  bottom: initial;
  right: 0;
  left: initial;
  transform: translateY(-50%);
  margin: auto;
  display: flex !important;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 40px;
}
.slider #sliderHome .owl-nav button {
  position: relative;
}
.slider #sliderHome .owl-nav button::after {
  content: "";
  position: absolute;
  top: 50%;
  bottom: initial;
  right: initial;
  left: initial;
  transform: translateY(-50%);
  margin: auto;
  width: 220px;
  height: 220px;
  border: 1px solid #fff;
  border-radius: 50%;
}
.slider #sliderHome .owl-nav button.owl-prev::after {
  left: -160px;
}
.slider #sliderHome .owl-nav button.owl-next::after {
  right: -160px;
}
.slider #sliderHome .owl-nav button i {
  color: #FFF;
  font-size: 20px;
}
.slider #sliderHome .owl-item.active .over-info h1, .slider #sliderHome .owl-item.active .over-info h5, .slider #sliderHome .owl-item.active .over-info a {
  transition: 1s;
  animation-name: translateInfoY;
  animation-fill-mode: both;
}
.slider #sliderHome .owl-item.active .over-info .right-in-view {
  transition: 1s;
  animation-name: translateInfoX;
  animation-fill-mode: both;
  animation-duration: 1.1s;
  animation-delay: 1.1s;
}
.slider #sliderHome .owl-item.active .over-info h1 {
  animation-duration: 1s;
  animation-delay: 1s;
}
.slider #sliderHome .owl-item.active .over-info h5 {
  animation-duration: 2s;
  animation-delay: 2s;
}
.slider #sliderHome .owl-item.active .over-info a {
  animation-duration: 2.5s;
  animation-delay: 2.5s;
}

.about-us .shape-png {
  position: absolute;
  top: -150px;
  bottom: initial;
  right: initial;
  left: -2px;
  transform: initial;
  margin: auto;
  z-index: 9;
}
.about-us .old-shape-png {
  position: absolute;
  top: -300px;
  bottom: initial;
  right: 0;
  left: 0;
  transform: initial;
  margin: auto;
}
.about-us .box-info-about p {
  line-height: 35px;
}
.about-us .box-info-about > img {
  width: 470px;
  height: 265px;
}

.projects .more-a::after {
  width: 30px;
  height: 20px;
}
.projects .box-project img {
  height: 500px;
  transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
}
.projects .box-project a {
  background-color: #AA936D;
}
.projects .box-project:hover img {
  transform: scale(1.1) rotate(2deg);
}

.news {
  background-image: url("../../images/bg-news.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.news .mask-shape {
  position: absolute;
  top: -500px;
  bottom: initial;
  right: initial;
  left: 0;
  transform: initial;
  margin: auto;
  z-index: -1;
}
.news .over-down {
  position: absolute;
  top: initial;
  bottom: 0;
  right: 0;
  left: 0;
  transform: initial;
  margin: auto;
  background: #e5e5e5;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.9) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=$blackColor, endColorstr=$blackColor,GradientType=0);
}
.news .block-new:hover img {
  transform: scale(1.1) rotate(2deg);
}
.news .block-new img {
  height: 280px;
  transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
}
.news .block-new .over-info-new {
  position: absolute;
  top: initial;
  bottom: 0;
  right: 0;
  left: 0;
  transform: initial;
  margin: auto;
  background: #e5e5e5;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.9) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=$blackColor, endColorstr=$blackColor,GradientType=0);
}
.news .block-new .over-info-new .d-flex::after {
  content: "";
  position: absolute;
  top: 50%;
  bottom: initial;
  right: initial;
  left: initial;
  transform: translateY(-50%);
  margin: auto;
  width: 70px;
  height: 35px;
  background-color: #D5B978;
}
.news .block-new .over-info-new .d-flex h5 {
  max-width: 300px;
  line-height: 30px;
  z-index: 9;
}
.news .box-more-news {
  background: linear-gradient(150deg, #3a3a3a 0%, #0f0f10 100%);
}
.news .box-more-news .block-more-new .img-new {
  width: 170px;
  height: 100px;
}
.news .box-more-news-slider {
  background: linear-gradient(to bottom, #4d4d4f 0%, #0f0f10 100%);
}

.images .img-block-images {
  position: absolute;
  top: 100px;
  bottom: initial;
  right: initial;
  left: initial;
  transform: initial;
  margin: auto;
}
.images .img-block-images.right-img {
  right: 0;
}
.images .img-block-images.left-img {
  left: 0;
}
.images .sliderImages img {
  height: 800px;
}
.images .sliderImages .owl-dots {
  display: flex;
  align-items: center;
  position: absolute;
  top: initial;
  bottom: 8px;
  right: initial;
  left: 0;
  transform: initial;
  margin: auto;
}
.images .sliderImages .owl-dots button span {
  display: inline-block;
  width: 13px;
  height: 13px;
  background-color: #4D4D4F;
  border-radius: 50%;
  margin: 0 5px;
}
.images .sliderImages .owl-dots button.active span {
  background-color: #D5B978;
}
.images .sliderImages .owl-nav {
  position: absolute;
  top: initial;
  bottom: 30px;
  right: -35px;
  left: initial;
  transform: initial;
  margin: auto;
  display: flex !important;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.images .sliderImages .owl-nav button {
  width: 140px;
  height: 60px;
  margin: 5px 0;
}
.images .sliderImages .owl-nav button.owl-prev {
  background-color: #4D4D4F;
  border-radius: 50px 0px 0px 0px;
}
.images .sliderImages .owl-nav button.owl-next {
  background-color: #D5B978;
  border-radius: 0px 50px 0px 0px;
}
.images .sliderImages .owl-nav button i {
  color: #FFF;
  font-size: 16px;
}

.head-about-us {
  width: 80%;
}
.head-about-us .over-down {
  position: absolute;
  top: initial;
  bottom: 0;
  right: 0;
  left: 0;
  transform: initial;
  margin: auto;
  background: #e5e5e5;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.9) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=$blackColor, endColorstr=$blackColor,GradientType=0);
  height: 400px;
}
.head-about-us .head-about > img {
  height: 900px;
}
.head-about-us .head-about .overlay-fix {
  position: absolute;
  top: 0;
  bottom: initial;
  right: 0;
  left: initial;
  transform: initial;
  margin: auto;
}
.head-about-us .head-about .overlay-fix .over-info h1 {
  line-height: 60px;
}
.head-about-us .head-about .overlay-fix .over-info p {
  color: #747474;
}

.info-massage .info-txt img {
  position: absolute;
  top: 30px;
  bottom: initial;
  right: -20px;
  left: initial;
  transform: initial;
  margin: auto;
}
.info-massage .img-txt img:first-child {
  z-index: 9;
}
.info-massage .img-txt img:last-child {
  max-width: 700px;
  position: absolute;
  top: 0;
  bottom: initial;
  right: -10px;
  left: initial;
  transform: initial;
  margin: auto;
}

.box-mission .img-mi img {
  height: 500px;
}
.box-mission .mx-info {
  max-width: 600px;
}
.box-mission .mx-info p {
  height: 130px;
  line-height: 30px;
}

.box-info-date .img-date {
  border-bottom: 1px solid #707070;
}
.box-info-date .img-date::after {
  content: "";
  position: absolute;
  top: initial;
  bottom: -11px;
  right: 0;
  left: 0;
  transform: initial;
  margin: auto;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #707070;
}
.box-info-date .img-date img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.travel-us {
  background-color: #2F2F31;
}

.download-files > img {
  max-width: 700px;
  position: absolute;
  top: 0;
  bottom: initial;
  right: initial;
  left: 0;
  transform: initial;
  margin: auto;
}
.download-files a {
  z-index: 9;
}
.download-files .box-info-file {
  background-color: #2F2F31;
  height: 300px;
}
.download-files .box-info-file .info-file {
  position: absolute;
  top: initial;
  bottom: 0;
  right: 0;
  left: 0;
  transform: initial;
  margin: auto;
  background: #e5e5e5;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.9) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=$blackColor, endColorstr=$blackColor,GradientType=0);
}

.slider-media #sliderMedia img {
  height: 600px;
}
.slider-media #sliderMedia .over-info-new {
  position: absolute;
  top: initial;
  bottom: 0;
  right: 0;
  left: 0;
  transform: initial;
  margin: auto;
  background: #e5e5e5;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.9) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=$blackColor, endColorstr=$blackColor,GradientType=0);
}
.slider-media #sliderMedia .owl-nav {
  position: absolute;
  top: 50%;
  bottom: initial;
  right: 0;
  left: initial;
  transform: translateY(-50%);
  margin: auto;
  display: flex !important;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 40px;
}
.slider-media #sliderMedia .owl-nav button i {
  color: #D5B978;
  font-size: 17px;
}
.slider-media #sliderMedia .owl-item.active .over-info-new .mx-txt h4, .slider-media #sliderMedia .owl-item.active .over-info-new .mx-txt span {
  transition: 1s;
  animation-name: translateInfoY;
  animation-fill-mode: both;
}
.slider-media #sliderMedia .owl-item.active .over-info-new .mx-txt span {
  animation-duration: 1s;
  animation-delay: 1s;
}
.slider-media #sliderMedia .owl-item.active .over-info-new .mx-txt h4 {
  animation-duration: 1.5s;
  animation-delay: 1.5s;
}

.mx-txt {
  max-width: 700px;
}
.mx-txt .position-relative {
  z-index: 9;
}
.mx-txt::after {
  content: "";
  position: absolute;
  top: 50%;
  bottom: initial;
  right: initial;
  left: initial;
  transform: translateY(-50%);
  margin: auto;
  width: 80px;
  height: 100%;
  background-color: #D5B978;
}

@keyframes translateInfoY {
  from {
    opacity: 0;
    visibility: hidden;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    visibility: initial;
    transform: translateY(0px);
  }
}
@keyframes translateInfoX {
  from {
    opacity: 0;
    visibility: hidden;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    visibility: initial;
    transform: translateX(0px);
  }
}
.media-news {
  background-image: initial;
}
.media-news #sliderMedia img {
  height: 220px;
}
.media-news #sliderMedia .owl-dots {
  display: none;
}
.media-news #sliderMedia .owl-nav {
  display: flex !important;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 30px;
}
.media-news #sliderMedia .owl-nav button {
  margin: 0 30px;
}
.media-news #sliderMedia .owl-nav button i {
  color: #D5B978;
  font-size: 17px;
}

.item-head-details img {
  height: 600px;
}
.item-head-details .over-info-new {
  position: absolute;
  top: initial;
  bottom: 0;
  right: 0;
  left: 0;
  transform: initial;
  margin: auto;
  background: #e5e5e5;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.9) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=$blackColor, endColorstr=$blackColor,GradientType=0);
}
.item-head-details .over-info-new .mx-txt {
  max-width: 700px;
}
.item-head-details .over-info-new .mx-txt .position-relative {
  z-index: 9;
}
.item-head-details .over-info-new .mx-txt::after {
  content: "";
  position: absolute;
  top: 50%;
  bottom: initial;
  right: initial;
  left: initial;
  transform: translateY(-50%);
  margin: auto;
  width: 80px;
  height: 100%;
  background-color: #D5B978;
}

.section-recruitment .box-recruitment {
  background-color: #2e2e2e;
}
.section-recruitment .box-recruitment img {
  height: 300px;
  width: 80%;
}
.section-recruitment .box-recruitment a {
  position: absolute;
  top: initial;
  bottom: 35px;
  right: initial;
  left: initial;
  transform: initial;
  margin: auto;
}

.bos-man-up .up-bos > img {
  position: absolute;
  top: initial;
  bottom: 55px;
  right: -40px;
  left: initial;
  transform: initial;
  margin: auto;
}
.bos-man-up .up-bos .bos-img {
  border-bottom: 10px solid #FFF;
  background-color: rgba(77, 77, 79, 0.5);
  width: 70%;
}
.bos-man-up .up-bos .bos-img img {
  height: 380px;
}
.bos-man-up .up-bos .info-bos {
  width: 70%;
}

.all-teams .shape-png {
  position: absolute;
  top: -150px;
  bottom: initial;
  right: initial;
  left: -2px;
  transform: initial;
  margin: auto;
  z-index: 9;
}
.all-teams .up-bos {
  transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  border: 1px solid transparent;
}
.all-teams .up-bos:hover {
  background-color: #2e2e2e;
  border: 1px solid #D5B978;
}
.all-teams .up-bos .bos-img {
  background-color: rgba(77, 77, 79, 0.5);
}
.all-teams .up-bos .bos-img img {
  height: 380px;
}

.form-job-app {
  position: fixed;
  top: 0;
  bottom: initial;
  right: initial;
  left: initial;
  transform: initial;
  margin: auto;
  transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  will-change: scroll-position;
  contain: size style layout;
  z-index: 999;
}

.form-job .input-val, .form-job .select-in, .form-job textarea, .form-job .custom-file-upload {
  opacity: 50%;
}
.form-job .data-val input[type=date]::-webkit-calendar-picker-indicator {
  position: absolute;
  top: 50%;
  bottom: initial;
  right: initial;
  left: initial;
  transform: translateY(-50%);
  margin: auto;
  opacity: 0;
  z-index: 9;
}
.form-job .data-val::after {
  content: "\e901";
  font-family: "icomoon";
  position: absolute;
  top: 50%;
  bottom: initial;
  right: initial;
  left: initial;
  transform: translateY(-50%);
  margin: auto;
  color: #D5B978;
}

.select-in::after {
  content: "\e90d";
  font-family: "icomoon";
  position: absolute;
  top: 50%;
  bottom: initial;
  right: initial;
  left: initial;
  transform: translateY(-50%);
  margin: auto;
  color: #D5B978;
}
.select-in .form-select {
  border: 1px solid #D5B978;
  color: #D5B978;
  background-color: transparent;
  padding: 0 20px;
  height: 55px;
  border-radius: 5px;
}
.select-in .form-select:focus {
  border-color: #ced4da;
  outline: 0;
  box-shadow: 0 0 0 0 rgba(13, 110, 253, 0.25);
}

.result-search form input {
  background-color: rgba(255, 255, 255, 0.1);
}

.body-project .head-project .head-about-us .head-about > img {
  filter: grayscale(100%);
}
.body-project .head-project .head-about-us .head-about .overlay-fix .container {
  top: -100px;
}
.body-project .head-project .head-about-us .head-about .overlay-fix .container::after {
  content: "";
  position: absolute;
  top: -100px;
  bottom: initial;
  right: -50px;
  left: initial;
  transform: initial;
  margin: auto;
  height: 450px;
  width: 70%;
  background-color: #0f0f10;
}
.body-project .head-project .head-about-us .head-about .overlay-fix .container > img {
  position: absolute;
  top: -200px;
  bottom: initial;
  right: initial;
  left: 300px;
  transform: initial;
  margin: auto;
  z-index: 9;
}
.body-project .head-project .head-about-us .head-about .overlay-fix .container .over-info {
  z-index: 9;
}
.body-project .all-project {
  top: -100px;
}
.body-project .all-project .icon-title {
  background-color: rgba(213, 185, 120, 0.3);
}
.body-project .all-project .container::after {
  content: "";
  position: absolute;
  top: 0px;
  bottom: initial;
  right: -50px;
  left: initial;
  transform: initial;
  margin: auto;
  height: 115%;
  width: 70%;
  background-color: #0f0f10;
  z-index: -1;
}
.body-project .all-project .container .head-about-us .head-about > img {
  height: 700px;
}
.body-project .all-project .container .sliderProject img {
  height: 78px;
  border: 1px solid #5A5A5A;
}
.body-project .all-project .container .sliderProject .owl-dots {
  display: none;
}
.body-project .all-project .container .sliderProject .owl-nav button {
  position: relative;
  background-color: #D5B978;
  height: 100%;
  position: absolute;
  top: 50%;
  bottom: initial;
  right: initial;
  left: initial;
  transform: translateY(-50%);
  margin: auto;
  width: 40px;
}
.body-project .all-project .container .sliderProject .owl-nav button.owl-prev {
  left: 0px;
}
.body-project .all-project .container .sliderProject .owl-nav button.owl-next {
  right: 0px;
}
.body-project .all-project .container .sliderProject .owl-nav button i {
  color: #FFF;
  font-size: 20px;
}
.body-project .all-project .container .sliderProject .owl-item.active.center img {
  border: 1px solid #D5B978;
}

.block-section-project {
  background-image: url("../../images/bg-opp.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}
.block-section-project .over-down {
  position: absolute;
  top: initial;
  bottom: 0;
  right: 0;
  left: 0;
  transform: initial;
  margin: auto;
  background: #e5e5e5;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.9) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=$blackColor, endColorstr=$blackColor,GradientType=0);
}
.block-section-project .slider-over-project .owl-dots {
  display: none;
}
.block-section-project .slider-over-project .owl-nav {
  position: absolute;
  top: initial;
  bottom: -50px;
  right: 0;
  left: 0;
  transform: initial;
  margin: auto;
  display: flex !important;
  align-items: center;
  justify-content: space-between;
  width: 115px;
}
.block-section-project .slider-over-project .owl-nav button {
  position: relative;
}
.block-section-project .slider-over-project .owl-nav button i {
  color: #FFF;
  font-size: 20px;
}
.block-section-project .slider-over-project .owl-item .item {
  transform: scale(0.8);
}
.block-section-project .slider-over-project .owl-item .item::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: initial;
  bottom: 0;
  right: 0;
  left: 0;
  transform: initial;
  margin: auto;
  background: #e5e5e5;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.9) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=$blackColor, endColorstr=$blackColor,GradientType=0);
}
.block-section-project .slider-over-project .owl-item img {
  height: 500px;
}
.block-section-project .slider-over-project .owl-item.active.center .item {
  transform: scale(1.1);
}
.block-section-project .slider-over-project .owl-item.active.center .item::after {
  display: none;
}

@media (max-width: 1200px) {
  .flex-col {
    flex-direction: column !important;
  }
  .none-mobile {
    display: none !important;
  }
  .d-none {
    display: block !important;
  }
  .m-width-100 {
    width: 100%;
    max-width: 100%;
  }
  .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .w-50, .w-75, .head-about-us {
    flex-basis: 100% !important;
    width: 100% !important;
    max-width: 100% !important;
  }
  .slider #sliderHome .item .bg-up {
    height: 800px;
  }
  .slider #sliderHome .item .overlay-fix {
    align-items: center !important;
    padding: 0 !important;
  }
  .slider #sliderHome .item .overlay-fix .container, .slider #sliderHome .item .overlay-fix .over-info {
    padding: 0 !important;
  }
  .slider #sliderHome .owl-nav {
    display: none !important;
  }
  .about-us .justify-content-center {
    justify-content: initial !important;
  }
  .images .sliderImages .owl-dots, .images .sliderImages .owl-nav {
    display: none !important;
  }
  .bos-man-up .up-bos .bos-img, .bos-man-up .up-bos .info-bos {
    width: 100%;
  }
}
html[dir=ltr] body {
  direction: ltr;
}
html[dir=ltr] .search-in button {
  right: 15px;
}
html[dir=ltr] .select-in::after {
  right: 20px;
}
html[dir=ltr] .fix-icon-Input {
  left: 13px;
}
html[dir=ltr] .form-job-app {
  left: 0;
  transform: translateX(-100%);
}
html[dir=ltr] .form-job-app form .data-val input[type=date]::-webkit-calendar-picker-indicator {
  right: 20px;
}
html[dir=ltr] .form-job-app form .data-val::after {
  right: 20px;
}
html[dir=ltr] .result-search form i {
  right: 30px !important;
  left: auto !important;
}
html[dir=ltr] .bread-crumb ul li a::after {
  right: -28px;
  transform: translateY(-50%) rotate(180deg);
}
html[dir=ltr] .section-recruitment .box-recruitment a {
  right: 0;
}
html[dir=ltr] .slider-media #sliderMedia .over-info-new {
  direction: ltr;
}
html[dir=ltr] .slider-media #sliderMedia .over-info-new .mx-txt::after {
  left: 0;
}
html[dir=ltr] .overlay-fixed {
  transform: translateX(100%);
  right: 0;
}
html[dir=ltr] .slider #sliderHome .item {
  direction: ltr;
}
html[dir=ltr] .slider #sliderHome .item .overlay-fix .over-info .more-a::after {
  left: -23px;
}
html[dir=ltr] .fix-up-btn {
  right: 30px;
}
html[dir=ltr] .title-sec::after {
  right: -65px;
}
html[dir=ltr] .projects .more-a::after {
  right: 13px;
  left: auto;
}
html[dir=ltr] .news .block-new .over-info-new h5::after {
  left: 0;
}
@media (max-width: 1200px) {
  html[dir=ltr] .nav-header {
    transform: translateX(-100%);
    left: 0;
  }
  html[dir=ltr] .nav-header .links li a::after {
    left: -15px;
  }
}

html[dir=rtl] body {
  direction: rtl;
}
html[dir=rtl] .search-in button {
  left: 15px;
}
html[dir=rtl] .select-in::after {
  left: 20px;
}
html[dir=rtl] .fix-icon-Input {
  right: 13px;
}
html[dir=rtl] .form-job-app {
  right: 0;
  transform: translateX(100%);
}
html[dir=rtl] .form-job-app form .data-val input[type=date]::-webkit-calendar-picker-indicator {
  left: 20px;
}
html[dir=rtl] .form-job-app form .data-val input[type=date] {
  -moz-text-align-last: right;
       text-align-last: right;
}
html[dir=rtl] .form-job-app form .data-val::after {
  left: 20px;
}
html[dir=rtl] .result-search form i {
  left: 30px !important;
  right: auto !important;
}
html[dir=rtl] .bread-crumb ul li a::after {
  left: -28px;
}
html[dir=rtl] .section-recruitment .box-recruitment a {
  left: 0;
}
html[dir=rtl] .slider-media #sliderMedia .over-info-new {
  direction: rtl;
}
html[dir=rtl] .slider-media #sliderMedia .over-info-new .mx-txt::after {
  right: 0;
}
html[dir=rtl] .overlay-fixed {
  transform: translateX(-100%);
  left: 0;
}
html[dir=rtl] .slider #sliderHome .item {
  direction: rtl;
}
html[dir=rtl] .slider #sliderHome .item .overlay-fix .over-info .more-a::after {
  right: -23px;
}
html[dir=rtl] .fix-up-btn {
  left: 30px;
}
html[dir=rtl] .title-sec::after {
  left: -65px;
}
html[dir=rtl] .projects .more-a::after {
  left: 13px;
  right: auto;
}
html[dir=rtl] .news .block-new .over-info-new h5::after {
  right: 0;
}
@media (max-width: 1200px) {
  html[dir=rtl] .nav-header {
    transform: translateX(100%);
    right: 0;
  }
  html[dir=rtl] .nav-header .links li a::after {
    right: -15px;
  }
}/*# sourceMappingURL=main.css.map */