@use '../abstracts/mixins' as *;

// Dir LTR

html[dir=ltr] {

    // Body App
    body{
        direction: ltr;
    }

    // Style Box Search
    .search-in{
        button{
            right: 15px;
        }
    }

    // Select Option
    .select-in{
        &::after{
            right: 20px;
        }
    }

    // Style Fix Icon Input
    .fix-icon-Input{
        left: 13px;
    }

    // Used Classes In All
    .overlay-fixed{
        transform: translateX(100%);
        right: 0;      
    }

    // Owl SLider Direction content
    .slider{
        #sliderHome{
            .item{
                direction: ltr;
            }
        }
    }


    // Media
    @media (max-width: 1200px) {
        // Nav
        .nav-header{
            transform: translateX(-100%);  
            left: 0;
            .links{
                li{
                    a{
                        &::after{
                            left: -15px;
                        }
                    }
                }
            }
        }
    }

}

// Dir RTL

html[dir=rtl] {

    // Body App
    body{
        direction: rtl;
    }

    // Style Box Search
    .search-in{
        button{
            left: 15px;
        }
    }

    // Select Option
    .select-in{
        &::after{
            left: 20px;
        }
    }

    // Style Fix Icon Input
    .fix-icon-Input{
        right: 13px;
    }

    // Used Classes In All
    .overlay-fixed{
        transform: translateX(-100%);
        left: 0;
    }

    // Owl SLider Direction content
    .slider{
        #sliderHome{
            .item{
                direction: rtl;
            }
        }
    }
    

    // Media
    @media (max-width: 1200px) {
        // Nav
        .nav-header{
            transform: translateX(100%);
            right: 0;
            .links{
                li{
                    a{
                        &::after{
                            right: -15px;
                        }
                    }
                }
            }
        }
    }

}