@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;


@media (max-width: 1200px) {
    
    // Used Classes In All

    .flex-col{
        flex-direction: column !important;
    }

    .none-mobile{
        display: none !important;
    }

    .d-none{
        display: block !important;
    }

    .m-width-100{
        width: 100%;
        max-width: 100%;
    }

    .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .w-50, .w-75, .head-about-us{
        flex-basis: 100% !important;
        width: 100% !important;
        max-width: 100% !important;
    }

    // Slider
    .slider{
        #sliderHome{
            .item{
                .bg-up{
                    height: 800px;
                }
                .overlay-fix {
                    align-items: center !important;
                    padding: 0 !important;
                    .container, .over-info{
                        padding: 0 !important;
                    }
                }
            }
            .owl-nav {
                display: none !important;
            }
        }
    }

    // About US
    .about-us{
        .justify-content-center{
            justify-content: initial !important;
        }
    }

    // Images
    .images{
        .sliderImages{
            .owl-dots, .owl-nav{
                display: none !important;
            }
        }
    }

    // Teams
    .bos-man-up{
        .up-bos{
            .bos-img, .info-bos{
                width: 100%;
            }
        }
    }

}

@media (max-width: 990px) {
    
    // Used Classes In All

}

@media (max-width: 767px) {
    
}



