@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;


@media (max-width: 1200px) {
    
    // Used Classes In All

    .flex-col{
        flex-direction: column !important;
    }

    .none-mobile{
        display: none !important;
    }

    .d-none{
        display: block !important;
    }

    .m-width-100{
        width: 100%;
        max-width: 100%;
    }

    // Slider
    .slider{
        #sliderHome{
            .item{
                .bg-up{
                    height: 800px;
                }
                .overlay-fix {
                    align-items: center !important;
                    padding: 0 !important;
                    .container, .over-info{
                        padding: 0 !important;
                    }
                }
            }
            .owl-nav {
                display: none !important;
            }
        }
    }

    // About US
    .about-us{
        .justify-content-center{
            justify-content: initial !important;
        }
    }

    // Images
.images{
    .img-block-images{
      @include positionItem(absolute, 100px, initial, initial, initial, initial);
      &.right-img{
        right: 0;
      }
      &.left-img{
        left: 0;
      }
    }
    .sliderImages{
        img{
            height: 350px;
        }
        .owl-dots, .owl-nav{
            display: none !important;
        }
    }
  }

}

@media (max-width: 990px) {
    
    // Used Classes In All

}

@media (max-width: 767px) {
    
}



