// Colors Page

$mainColor                          : #D5B978;
$oldMainColor                       : #786C51;
$secondColor                        : #0f0f10;
$opSecondColor                      : #2e2e2e;
$BodyColor                          : #0B0E29;

$bgDarkOverlayColor                 : rgba(0,0,0,0.5);
$bgLightOverlayColor                : rgba(255, 255, 255, 0.5);

$whiteColor                         : #FFF;
$blackColor                         : #000;